
.main-display {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%) no-repeat;


  .header {
    position: relative;
    margin-top: 30px;
    height: 100px;
    min-width: 650px;
    width: 100%;
    text-align-last: center;

    h1 {
      padding: 25px 0 25px 10px;
      font-family: 'Lobster', cursive;
      font-size: 100px;
      background: -webkit-linear-gradient(#f18b43d9, #4b94ef);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .body {
    position: relative;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 75%;

    .cities-selection-container {
      width: 70%;
      margin: 0 15px;
      height: fit-content;
      border-radius: 10%;
      text-align: -webkit-center;
    }

    .cards-container {
      width: 80%;
      height: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      overflow: scroll;

    }
  }

  .bottom {
    width: 100%;
    height: 50px;
    background: -webkit-linear-gradient(#f18b4300, #4b94ef9e);

  }
}




