
<div class="main-display">
  <div class="header">
    <h1>Cities Weather</h1>
  </div>

  <div class="body">
    <div class="cities-selection-container">
      <app-city-selection></app-city-selection>
    </div>

    <div class="cards-container">
      <div *ngFor="let city of (cities$ | async); let i = index">
        <app-single-card [cityDataObj]="city"></app-single-card>
      </div>
    </div>
  </div>

  <div class="bottom"></div>
</div>

