
<ng-container *ngIf="cityDataObj.cityName !== ''">
  <div class="card-container" >

    <div class="city-name">{{cityDataObj.cityName}}</div>
    <div class="current-temp">{{cityDataObj.temperature}}°</div>
    <div class="weather-icon"><img src="{{cityDataObj.icon}}"></div>
    <div class="description">{{cityDataObj.description}}</div>

    <div class="buttons-container">
      <button mat-icon-button style="background-color: unset" (click)="updateReq(cityDataObj)">
        <mat-icon style="color: cadetblue">refresh</mat-icon>
      </button>
      <button mat-icon-button style="background-color: unset" (click)="deleteReq(cityDataObj)">
        <mat-icon style="color: cadetblue">delete</mat-icon>
      </button>
    </div>
  </div>
</ng-container>

