
.card-container {
  position: relative;
  margin: 5px;
  width: 150px;
  height: 170px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &:hover {
    transform: scale(1.1, 1.1);
  }

  &:hover::after {
    opacity: 1;
  }

  .city-name {
    font-size: 16px;
    font-weight: bold;
    padding: 6px 0;
    z-index: 2;
  }

  .current-temp {
    font-size: 25px;
    z-index: 2;
    position: absolute;
    bottom: 64px;
    opacity: 0.6;
  }

  .weather-icon {
    position: relative;
    bottom: 23px;
    width: fit-content;
    height: fit-content;
  }

  .description {
    position: relative;
    font-size: 14px;
    bottom: 30px;
    z-index: 2;
  }

  .buttons-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 130px;
    justify-content: space-evenly;
    margin: 5px 0;
    bottom: 35px;
    z-index: 2;
  }
}
